# Language Translation

In [1]:
import pandas as pd
dataset = pd.read_csv('../data/dataset.csv', sep='\t', header=None).applymap(str)
dataset.columns = ["Language","label","text"]
languagesData=[]
loc = 0
languages = dataset[dataset.columns[0]].unique()
for i in languages:
    name = languages[loc]+"Data" 
    globals()[name] = pd.DataFrame( dataset[dataset.Language == i])
    loc += 1
    
    
# Rename Dataset Columns
dataset.columns = ["language","label","text"]
dataset.head()
languagesData=[]
loc = 0
for i in languages:
    name = languages[loc]+"Data" 
    globals()[name] = pd.DataFrame( dataset[dataset.language == i])
    loc += 1

# Arabic Data translated into english

In [2]:
import pandas as pd
arabicTranslated = pd.read_csv('./Data/arabicTranslated.csv',header=None)
arabicTranslated.columns = ["text"]
arabicTranslated.head()
arabicTranslated["label"] = list(arabicData["label"])
arabicTranslated.to_csv('./Data/data/arabicTranslated2.csv')
arabicTranslated.head()

                                                text          label
0  Today on the ON channel 2 the Egyptian league ...  entertainment
1  Hwasa asks about her favorite member of the Bi...  entertainment
2  He was a biter who respected the state and my ...  entertainment
3  Boom salutes her fans as an artist from DNA fo...  entertainment
4  Team F and Arab Contractors team to face them ...  entertainment

In [26]:
arabicTranslated.to_csv('./Data/arabicTranslated2.csv')

# French Data

In [3]:
import pandas as pd
frenchTranslated = pd.read_csv('./Data/frenchTranslated_mah.csv')
#renchTranslated.columns = ["text"]
# frenchTranslated.head()
# frenchTranslated["label"] = list(frenchData["label"])
frenchTranslated.head()

   Unnamed: 0                                               text        label
0           0  GEEK The U.S. Government prohibits its employe...  advertising
1           1  OlivierThe most interesting chip of the lot sh...  advertising
2           2  PEOPLE Mélanie Da Cruz maman Anthony Martial p...  advertising
3           3  Saudi Arabia More than two million faithful st...  advertising
4           4  August 2018 at 1016 a.m.  By El Mehdi BerradaM...  advertising

# Spanish Data

In [4]:
import pandas as pd
SpanishTranslated = pd.read_csv('./Data/spanishTranslated.csv',header=None)
SpanishTranslated.columns = ["text"]
SpanishTranslated.head()
SpanishTranslated["label"] = list(spanishData["label"])
SpanishTranslated.to_csv('./Data/data/spanishTranslated.csv')
SpanishTranslated.head()

                                                text        label
0  MEXICO CITY (APL) Miguel Angel Marin deputy co...  advertising
1  the closing of the Central American Games on C...  advertising
2  Gerardo Axel N located by authorities as the s...  advertising
3  In 2009 the movement headed by Andres Manuel L...  advertising
4  MEXICO CITY Reuters The Institute of Administr...  advertising

# Turkish Data

In [9]:
import pandas as pd
TurkishTranslated = pd.read_csv('./Data/turkishData.csv',header=None)
TurkishTranslated.columns = ["text"]
TurkishTranslated.head()
TurkishTranslated["label"] = list(turkishData["label"])
TurkishTranslated.to_csv('./Data/data/turkishData.csv')

                                                text        label
0  You were named Harland Koyar? The KFC announce...  advertising
1  Finished cards with a leopard  completed postc...  advertising
2  Lions Gürsu was working with the Electrical Tr...  advertising
3  Are you ready to witness the great journey of ...  advertising
4  The sound of orangutans for Greenpeace was the...  advertising

# Swedish

In [9]:
import pandas as pd
SwedishTranslated = pd.read_csv('swedishData.csv',header=None)
SwedishTranslated.columns = ["text"]
SwedishTranslated["label"] = list(swedishData["label"])
SwedishTranslated.to_csv('./Data/data/swedishData.csv')
SwedishTranslated.head()

                                                text        label
0  August 2018Moderates party leader Ulf Kristers...  advertising
1  In August 2018Ylva Johansson (S) Ali Esbati (V...  advertising
2  We save data in cookies by using our services ...  advertising
3  Hot-ballot debate on the computer laintrus in ...  advertising
4  September 2018 Christoffer Vostlund Jonsson co...  advertising

# russian

In [10]:
import pandas as pd
RussianTranslated = pd.read_csv('russianData.csv',header=None)
RussianTranslated.columns = ["text"]
RussianTranslated["label"] = list(russianData["label"])
RussianTranslated.to_csv('./Data/data/russianData.csv')
RussianTranslated.head()

                                                text        label
0  the program and sales on Amazon Sales on eBay ...  advertising
1  Is there a simple website? 11 September 2018 T...  advertising
2  August 2018 at 15:06 228 News media and blogge...  advertising
3  Dmitry Lyapinthe Director of Strategic Develop...  advertising
4  SEO is a 9SEO marathon. For those who dont go ...  advertising

# portugueseData

In [18]:
import pandas as pd
PortugueseTranslated = pd.read_csv('portugueseData.csv',header=None)
PortugueseTranslated.columns = ["text"]
PortugueseTranslated["label"] = list(portugueseData["label"])
PortugueseTranslated.to_csv('./Data/data/portugueseData.csv')
PortugueseTranslated.head()

                                                text        label
0  Temer (Federal Member)-1986 Michel Temer (Fede...  advertising
1  National: the history of Brazil transformed in...  advertising
2  All the rumours are put on the surdine all the...  advertising
3  Propaganda Vence the Elections When the Propag...  advertising
4  Sunday the zebra of Fantastico announced the r...  advertising

# Polish data

In [19]:
import pandas as pd
PolishTranslated = pd.read_csv('polishData.csv',header=None)
PolishTranslated.columns = ["text"]
PolishTranslated["label"] = list(polishData["label"])
PolishTranslated.to_csv('./Data/data/polishData.csv')
PolishTranslated.head()

                                                text        label
0  In February 2011 on his blog on Salon24.pl I p...  advertising
1  warranty service and support for the TECHNICAL...  advertising
2  SocieAs one of the assumptions that I take in ...  advertising
3  In the Old Testament the materials gathered Ja...  advertising
4  Do you have a Twitter account? Start watching ...  advertising

# norwegianData

In [23]:
import pandas as pd
NorwegianTranslated = pd.read_csv('norwegianData.csv',header=None)
NorwegianTranslated.columns = ["text"]
NorwegianTranslated["label"] = list(norwegianData["label"])
NorwegianTranslated.to_csv('./Data/data/norwegianData.csv')
NorwegianTranslated.head()

                                                text          label
0  wins 61st Annual CANUSA Games Jason NasonBASEB...  entertainment
1  Movie Part   Rajesh Hamal Viraj Bhatta Eagle B...  entertainment
2  Vige Helle  Who makes so much noise and doesnt...  entertainment
3  Slattemark Leave a commentIs the new edition o...  entertainment
4  livin it upYeah one hour forever Daddadoda kit...  entertainment

# koreanData

In [24]:
import pandas as pd
KoreanTranslated = pd.read_csv('koreanData.csv',header=None)
KoreanTranslated.columns = ["text"]
KoreanTranslated["label"] = list(koreanData["label"])
KoreanTranslated.to_csv('./Data/data/koreanData.csv')
KoreanTranslated.head()

                                                text          label
0  Have a taste of your delicious food today keep...  entertainment
1  Is offering two services: 1. A shopping mall-b...  entertainment
2  The character is dominated by the character of...  entertainment
3  /DIY VIDEOS/DIY women 2 layer varp banding sha...  entertainment
4  Fire HD 8 (Amazon Fire HD) ... The 8-inch-type...  entertainment

# italianData

In [25]:
import pandas as pd
ItalianTranslated = pd.read_csv('italianData.csv',header=None)
ItalianTranslated.columns = ["text"]
ItalianTranslated["label"] = list(italianData["label"])
ItalianTranslated.to_csv('./Data/data/italianData.csv')
ItalianTranslated.head()

                                                text        label
0  16  2018 Informed SCONTI-COUPON 0Con Coca Cola...  advertising
1  27  2018 Informed SCONTI-COUPON 0With Nuvenia ...  advertising
2  3  2018 Informed SCONTI-COUPON 0E \ at the sta...  advertising
3  7  2018 Informed SCONTI-COUPON 0Here are the 1...  advertising
4  0Try to win a Samsung Galaxy Note 9 and a trip...  advertising

# hungarianData

In [26]:
import pandas as pd
HungarianTranslated = pd.read_csv('hungarianData.csv',header=None)
HungarianTranslated.columns = ["text"]
HungarianTranslated["label"] = list(hungarianData["label"])
HungarianTranslated.to_csv('./Data/data/hungarianData.csv')
HungarianTranslated.head()

                                                text        label
0  In the series Sabo Kitti the daughter of Barth...  advertising
1  US The face transplant was given a new chance ...  advertising
2  Vendor Story returning his sweetheart from the...  advertising
3   A woman looked at a woman with an eyelid mont...  advertising
4  Krimi 11 year old girl was harassed by a man o...  advertising

# germanData

In [27]:
import pandas as pd
GermanTranslated = pd.read_csv('germanData.csv',header=None)
GermanTranslated.columns = ["text"]
GermanTranslated["label"] = list(germanData["label"])
GermanTranslated.to_csv('./Data/data/germanData.csv')
GermanTranslated.head()

                                                text        label
0  An ace on the basketball Seat In a round of ba...  advertising
1  collaboration of superlatives?50 Cent just cre...  advertising
2  Unbelievable world record All his singles and ...  advertising
3  (ots)day evening 8.23 p.m. there was a fire in...  advertising
4  (ots) early Tuesday morning 14.08.18 a truck w...  advertising

# finnishData

In [28]:
import pandas as pd
FinnishTranslated = pd.read_csv('finnishData.csv',header=None)
FinnishTranslated.columns = ["text"]
FinnishTranslated["label"] = list(finnishData["label"])
FinnishTranslated.to_csv('./Data/data/finnishData.csv')
FinnishTranslated.head()

                                                text            label
0  Perhaps the most defining moment of this year'...      advertising
1  How wonderful is a Saturday which is allowed t...      advertising
2  This post is Instagram Fuckety More Images swi...      advertising
3  To look at your own data logged on to the serv...  arts_and_crafts
4  And D.O.A. A founder member Randy Rampage has ...    entertainment

# czechData

In [29]:
import pandas as pd
czechTranslated = pd.read_csv('czechData.csv',header=None)
czechTranslated.columns = ["text"]
czechTranslated["label"] = list(czechData["label"])
czechTranslated.to_csv('./Data/data/czechData.csv')
czechTranslated.head()

                                                text            label
0  September 14th 2018 at 1:00 PM-Pratt KS-152.2 ...  arts_and_crafts
1  They came from Silesia to Bohemia in the 4th c...    entertainment
2  The Czech TV shows the French documentary evid...    entertainment
3  With the fact that there are a huge number of ...    entertainment
4  What is it? Antonín! Whats wrong with you?-Wha...    entertainment